body { 
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased !important;
    background: #F3EED9;
    font-size: 16px;
  }
  #root { height: 100%; }
  body, body * {
    margin: 0;
    padding: 0;
}